app_disk_image = "reddit-apponly"
db_disk_image = "reddit-db"
public_key_path = "../files/id_rsa_test.pub"
private_key_path = "../files/id_rsa_test"
app_username = "mac08"
scene = "stage"
app_vm_tag = "reddit-stage-app"
db_vm_tag = "reddit-stage-db"
